<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content">
    <div class="container-fluid d-md-flex about-page">
         <div class="content">Welcome to E-Shop, where fashion meets passion! Our journey began with a simple mission: to bring stylish, high-quality, and affordable clothing to fashion lovers worldwide. We believe that fashion is more than just clothing—it’s a way to express yourself, your personality, and your confidence.

            At E-Shop, we carefully curate our collections to ensure they reflect the latest trends while maintaining timeless elegance. From casual wear to formal outfits, our designs cater to every occasion. We take pride in using high-quality materials that offer comfort and durability without compromising on style.
            
            Our commitment goes beyond fashion. We strive to promote sustainability by selecting eco-friendly fabrics and ethical production methods. Customer satisfaction is at the heart of everything we do, and we are dedicated to providing a seamless shopping experience with exceptional customer service.
            
            Join us on this journey of self-expression and discover fashion that makes you feel confident, stylish, and unique. Thank you for choosing [Your Brand Name]—where every outfit tells a story!</div>
         <div class="image">
            <img src="/img/login.jpg" alt="">
         </div>
    </div>
   

    <div class="container-fluid d-md-flex about-page" style="margin-top: 100px;">
        <div class="image">
            <img src="/img/login.jpg" alt="">
         </div>
         <div class="content">Welcome to E-Shop, where fashion meets passion! Our journey began with a simple mission: to bring stylish, high-quality, and affordable clothing to fashion lovers worldwide. We believe that fashion is more than just clothing—it’s a way to express yourself, your personality, and your confidence.

            At E-Shop, we carefully curate our collections to ensure they reflect the latest trends while maintaining timeless elegance. From casual wear to formal outfits, our designs cater to every occasion. We take pride in using high-quality materials that offer comfort and durability without compromising on style.
            
            Our commitment goes beyond fashion. We strive to promote sustainability by selecting eco-friendly fabrics and ethical production methods. Customer satisfaction is at the heart of everything we do, and we are dedicated to providing a seamless shopping experience with exceptional customer service.
            
            Join us on this journey of self-expression and discover fashion that makes you feel confident, stylish, and unique. Thank you for choosing [Your Brand Name]—where every outfit tells a story!</div>
         
    </div>
</main>
</html>
