<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<main layout:fragment="content">



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div th:if="${(param.error != null) and (param.error[0] == 'not-blank')}" style="color: red;">
                        Please enter full your information.
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Ward</label>
                            <input class="form-control" type="text" placeholder="New York">
                            <!-- <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select> -->
                        </div>
                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Province</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Message</label>
                            <textarea id="message" class="form-control" rows="5"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto" data-toggle="collapse"
                                    data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <div id="cartItems"></div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 id="subtotal" class="font-weight-medium">$0</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 id="shipping" class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 id="total" class="font-weight-bold">$0</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" checked>
                                <label class="custom-control-label" for="paypal">COD</label>
                                <img src="/img/payment/cod.png" alt="" width="25" style="margin-left: 19px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">VN Pay</label>
                                <img src="/img/payment/vnpay.png" alt="" width="25">
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Paypal</label>
                                <img src="/img/payment/paypal.png" alt="" width="25">

                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 order">Place
                            Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    <script th:inline="javascript">
        var currentUser = /*[[${#authentication.principal}]]*/ null;
        var orderButton = document.querySelector(".order");

        if (currentUser == "anonymousUser") {

            // Lấy dữ liệu giỏ hàng từ localStorage
            let cartItems = JSON.parse(localStorage.getItem("carts")) || [];
            let subtotal = 0;

            if (cartItems.length < 1) {
                orderButton.disabled = true;
            }



            document.addEventListener("DOMContentLoaded", function () {
                let cartItemsContainer = document.getElementById("cartItems");
                let subtotalEl = document.getElementById("subtotal");
                let totalEl = document.getElementById("total");
                let shippingCost = 10; // Phí ship cố định




                if (cartItems.length < 1) {
                    cartItemsContainer.innerHTML = `<p>Your cart is empty.</p>`;
                    subtotalEl.textContent = "$0";
                    totalEl.textContent = "$0";
                    return;
                }


                cartItems.forEach(item => {
                    let itemElement = document.createElement("div");
                    itemElement.classList.add("d-flex", "justify-content-between");
                    itemElement.innerHTML = `<p>${item.name}</p><p>$${item.price}</p>`;
                    cartItemsContainer.appendChild(itemElement);
                    subtotal += item.price;
                });

                let total = subtotal + shippingCost;

                subtotalEl.textContent = `$${subtotal}`;
                totalEl.textContent = `$${total}`;
            });

            console.log(cartItems)


            document.addEventListener("DOMContentLoaded", function () {
                document.querySelector(".order").addEventListener("click", function (event) {
                    event.preventDefault(); // Ngăn form load lại trang

                    // Lấy dữ liệu từ các trường input
                    let checkoutData = {
                        // user_id: currentUser == null ? null : currentUser,
                        firstName: document.querySelector('input[placeholder="John"]').value.trim(),
                        lastName: document.querySelector('input[placeholder="Doe"]').value.trim(),
                        email: document.querySelector('input[placeholder="example@email.com"]').value.trim(),
                        phone: document.querySelector('input[placeholder="+123 456 789"]').value.trim(),
                        address: document.querySelector('input[placeholder="123 Street"]').value.trim(),
                        ward: document.querySelector('input[placeholder="New York"]').value.trim(),
                        district: document.querySelectorAll('input[placeholder="New York"]')[1].value.trim(),
                        province: document.querySelectorAll('input[placeholder="New York"]')[2].value.trim(),
                        products: cartItems,
                        paymentMethod: document.querySelector('input[name="payment"]:checked').nextElementSibling.innerText.trim(),
                        totalPrice: parseFloat(subtotal + 10),
                        description: document.getElementById("message").value
                    };

                    console.log("Dữ liệu checkout:", checkoutData);
                    console.log("paymentMethod:", checkoutData.paymentMethod);

                    fetch("http://localhost:8080/api/checkout", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(checkoutData)
                    })
                        .then(response => response.text())
                        .then(data => {
                            if (data == 'notblank') {
                                alert("Vui lý nhập thông tin")
                            }
                            else if (checkoutData.paymentMethod == "Paypal") {
                                window.location.href = data; // Chuyển hướng người dùng tới PayPal
                            }
                            else if (checkoutData.paymentMethod == "VN Pay") {
                                window.location.href = data; // Chuyển hướng người dùng tới PayPal
                            }
                            else if (checkoutData.paymentMethod == "COD") {
                                window.location.href = "/?orderstatus=success";
                            }

                        })
                        .catch(error => {
                            console.error("error:", error);
                            alert("Có lỗi xảy ra, vui lòng thử lại!");
                        });

                });
            });


        }
        else {
            var carts = /*[[${carts}]]*/[];
            var total = 0;

            if (carts.length < 1) {
                orderButton.disabled = true;
            }

            for (var i = 0; i < carts.length; i++) {
                total += carts[i].price * carts[i].quantity;
            }

            document.getElementById("subtotal").innerText = `$${total.toFixed(2)}`;
            document.getElementById("total").innerHTML = `$${(total + 10).toFixed(2)}`;

            document.addEventListener("DOMContentLoaded", function () {
                document.querySelector(".order").addEventListener("click", function (event) {
                    event.preventDefault(); // Ngăn form load lại trang


                    // Lấy dữ liệu từ các trường input
                    let checkoutData = {
                        // user_id: currentUser == null ? null : currentUser,
                        firstName: document.querySelector('input[placeholder="John"]').value.trim(),
                        lastName: document.querySelector('input[placeholder="Doe"]').value.trim(),
                        email: document.querySelector('input[placeholder="example@email.com"]').value.trim(),
                        phone: document.querySelector('input[placeholder="+123 456 789"]').value.trim(),
                        address: document.querySelector('input[placeholder="123 Street"]').value.trim(),
                        ward: document.querySelector('input[placeholder="New York"]').value.trim(),
                        district: document.querySelectorAll('input[placeholder="New York"]')[1].value.trim(),
                        province: document.querySelectorAll('input[placeholder="New York"]')[2].value.trim(),
                        products: carts,
                        paymentMethod: document.querySelector('input[name="payment"]:checked').nextElementSibling.innerText.trim(),
                        totalPrice: parseFloat(total + 10),
                        description: document.getElementById("message").value
                    };

                    console.log("Dữ liệu checkout:", checkoutData);
                    console.log("paymentMethod:", checkoutData.paymentMethod);

                    fetch("http://localhost:8080/api/checkout", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(checkoutData)
                    })
                        .then(response => response.text())
                        .then(data => {
                            if (data == 'notblank') {
                                alert("Vui lý nhập thông tin")
                            }
                            else if (checkoutData.paymentMethod == "Paypal") {
                                window.location.href = data; // Chuyển hướng người dùng tới PayPal
                            }
                            else if (checkoutData.paymentMethod == "VN Pay") {
                                window.location.href = data; // Chuyển hướng người dùng tới PayPal
                            }
                            else if (checkoutData.paymentMethod == "COD") {
                                window.location.href = "/?orderstatus=success";
                            }

                        })
                        .catch(error => {
                            console.error("error:", error);
                            alert("Có lỗi xảy ra, vui lòng thử lại!");
                        });

                });
            });
        }
    </script>


</main>