<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<main layout:fragment="content">



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div th:if="${(param.error != null) and (param.error[0] == 'not-blank')}" style="color: red;">
                        Please enter full your information.
                    </div>
                    <div class="row">

                        <div class="col-md-12 form-group">
                            <label>Name</label>
                            <input class="form-control" id="name" type="text" placeholder="Doe"
                                th:value="${user?.name ?: ''}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" id="email" type="text" placeholder="example@email.com"
                                th:value="${user?.email ?: ''}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" id="phone" type="text" placeholder="+123 456 789"
                                th:value="${user?.phone ?: ''}">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Province</label>
                            <select class="custom-select" name="province" id="province" required>
                                <option value="" disabled selected hidden></option>

                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <select class="custom-select" name="district" id="district" required>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Ward</label>
                            <select class="custom-select" name="ward" id="ward" required>

                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" placeholder="123 Street" id="address"
                                name="address">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Message</label>
                            <textarea id="message" class="form-control" rows="5"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto" data-toggle="collapse"
                                    data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <div id="cartItems"></div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 id="subtotal" class="font-weight-medium">$0</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 id="shipping" class="font-weight-medium">$0</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 id="total" class="font-weight-bold">$0</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" checked>
                                <label class="custom-control-label" for="paypal">COD</label>
                                <img src="/img/payment/cod.png" alt="" width="25" style="margin-left: 19px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">VN Pay</label>
                                <img src="/img/payment/vnpay.png" alt="" width="25">
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Paypal</label>
                                <img src="/img/payment/paypal.png" alt="" width="25">

                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 order">Place
                            Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    <script th:inline="javascript">



        var currentUser = /*[[${#authentication.principal}]]*/ null;
        var orderButton = document.querySelector(".order");
        var cartItems = [];
        if (currentUser === "anonymousUser") {
            cartItems = JSON.parse(localStorage.getItem("carts")) || [];
        } else {
            cartItems = /*[[${carts}]]*/[];
        }
        let shippingCost = 0;
        let subtotal = cartItems.reduce((sum, item) => sum + item.price * (item.quantity || 1), 0);
        let totalEl = document.getElementById("total");

        document.addEventListener("DOMContentLoaded", function () {

            let cartItemsContainer = document.getElementById("cartItems");
            let subtotalEl = document.getElementById("subtotal");

            if (cartItems.length < 1) {
                orderButton.disabled = true;
                cartItemsContainer.innerHTML = `<p>Your cart is empty.</p>`;
                subtotalEl.textContent = "$0";
                totalEl.textContent = "$0";
            } else {
                cartItems.forEach(item => {
                    let itemElement = document.createElement("div");
                    itemElement.classList.add("d-flex", "justify-content-between");
                    itemElement.innerHTML = `<p>${item.name}</p><p>$${item.price * item.quantity}</p>`;
                    cartItemsContainer.appendChild(itemElement);
                });

                subtotalEl.textContent = `$${subtotal.toFixed(2)}`;
            }

            console.log("Cart Items:", cartItems);

            orderButton.addEventListener("click", function (event) {
                event.preventDefault();

                // Lấy giá trị từ các trường input
                let name = document.querySelector("#name").value.trim();
                let email = document.querySelector("#email").value.trim();
                let phone = document.querySelector("#phone").value.trim();
                let address = document.querySelector("#address").value.trim();

                // Lấy giá trị từ select (ward, district, province) với kiểm tra lỗi
                let wardSelect = document.querySelector("#ward");
                let districtSelect = document.querySelector("#district");
                let provinceSelect = document.querySelector("#province");

                let ward = wardSelect && wardSelect.selectedIndex >= 0
                    ? wardSelect.options[wardSelect.selectedIndex].innerHTML.trim()
                    : "";

                let district = districtSelect && districtSelect.selectedIndex >= 0
                    ? districtSelect.options[districtSelect.selectedIndex].innerHTML.trim()
                    : "";

                let province = provinceSelect && provinceSelect.selectedIndex >= 0
                    ? provinceSelect.options[provinceSelect.selectedIndex].innerHTML.trim()
                    : "";

                let paymentMethod = document.querySelector('input[name="payment"]:checked')?.nextElementSibling.innerText.trim() || "";
                let description = document.getElementById("message").value.trim();

                // Kiểm tra nếu có trường nào bị bỏ trống
                if (!name || !email || !phone || !address || !ward || !district || !province || !paymentMethod) {
                    alert("Vui lòng nhập đầy đủ thông tin trước khi đặt hàng!");
                    return;
                }

                // Nếu tất cả hợp lệ, tạo đối tượng checkoutData
                let checkoutData = {
                    name,
                    email,
                    phone,
                    address,
                    ward,
                    district,
                    province,
                    products: cartItems,
                    paymentMethod,
                    totalPrice: subtotal + shippingCost,
                    description
                };

                console.log("Checkout Data:", checkoutData);

                fetch("http://localhost:8080/api/checkout", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(checkoutData)
                })
                    .then(response => response.text())
                    .then(data => {
                        if (data === "notblank") {
                            alert("Vui lòng nhập thông tin.");
                        } else if (checkoutData.paymentMethod === "Paypal" || checkoutData.paymentMethod === "VN Pay") {
                            window.location.href = data;
                        } else if (checkoutData.paymentMethod === "COD") {
                            window.location.href = "/?orderstatus=success";
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Có lỗi xảy ra, vui lòng thử lại!");
                    });
            });
        });



        ////////////

        const apiUrl_get_province = "https://online-gateway.ghn.vn/shiip/public-api/master-data/province";
        const apiUrl_get_district = "https://online-gateway.ghn.vn/shiip/public-api/master-data/district";
        const apiUrl_get_ward = "https://online-gateway.ghn.vn/shiip/public-api/master-data/ward";
        const apiUrl_get_shipping = "https: //online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee";

        const token = "156086da-ee0e-11ed-a281-3aa62a37e0a5";
        let selectElement_province = document.getElementById("province");
        let selectElement_district = document.getElementById("district");
        let selectElement_ward = document.getElementById("ward");
        let input_address = document.getElementById("address");

        fetch(apiUrl_get_province, {
            headers: {
                "Content-Type": "application/json",
                token: token,
            },
        })
            .then((response) => response.json())
            .then((data) => {
                data.data.forEach((item) => {
                    let optionElement = document.createElement("option");
                    optionElement.value = item.ProvinceID;
                    optionElement.textContent = item.ProvinceName;
                    selectElement_province.appendChild(optionElement);
                });
            })
            .catch(error => console.log(error));




        selectElement_province.addEventListener("change", function () {
            var id_province = this.value;
            selectElement_district.innerHTML = '';

            input_address.value = '';
            selectElement_ward.innerHTML = '';
            let optionElement = document.createElement("option");
            optionElement.value = '';
            optionElement.disabled = true;
            optionElement.selected = true;
            optionElement.hidden = true;
            optionElement.textContent = '';
            selectElement_district.appendChild(optionElement);
            fetch(apiUrl_get_district, {
                headers: {
                    "Content-Type": "application/json",
                    token: token,
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    data.data.forEach((item) => {
                        if (item.ProvinceID == id_province) {
                            let optionElement = document.createElement("option");
                            optionElement.value = item.DistrictID;
                            optionElement.textContent = item.DistrictName;
                            selectElement_district.appendChild(optionElement);
                        }

                    });
                })
                .catch(error => console.log(error));
        });

        selectElement_district.addEventListener("change", function () {
            var id_district = this.value;
            selectElement_ward.innerHTML = '';
            let optionElement = document.createElement("option");
            optionElement.value = '';
            optionElement.disabled = true;
            optionElement.selected = true;
            optionElement.hidden = true;
            optionElement.textContent = '';
            selectElement_ward.appendChild(optionElement);
            fetch(`${apiUrl_get_ward}?district_id=${id_district}`, {
                headers: {
                    "Content-Type": "application/json",
                    token: token,
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    data.data.forEach((item) => {
                        let optionElement = document.createElement("option");
                        optionElement.value = item.WardCode;
                        optionElement.textContent = item.WardName;
                        selectElement_ward.appendChild(optionElement);
                    });
                })
                .catch(error => console.log(error));
        });



        function transport_fee(callback) {
            var myHeaders = new Headers();
            let insurance_value = 200000;
            let insurance_quantity = 5;
            let to_district_id = selectElement_district.value;
            let to_ward_code = selectElement_ward.value;

            myHeaders.append("token", "156086da-ee0e-11ed-a281-3aa62a37e0a5");
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                "service_id": 53322,
                "service_type_id": 2,
                "insurance_value": insurance_value, // Không cần parseInt nếu chắc chắn là số
                "coupon": null,
                "from_district_id": 3193,
                "to_district_id": to_district_id ? parseInt(to_district_id) : 0, // Kiểm tra dữ liệu hợp lệ
                "to_ward_code": String(to_ward_code), // Đảm bảo là chuỗi
                "weight": 250 * insurance_quantity,
                "width": 7 * insurance_quantity,
                "height": 3 * insurance_quantity,
                "length": 14 * insurance_quantity
            });

            console.log("Request body:", raw); // Kiểm tra dữ liệu gửi lên

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee", requestOptions)
                .then(response => response.json()) // Chuyển response sang JSON
                .then(result => {
                    console.log("Response:", result);
                    if (result.code === 200 && result.data) {
                        callback(result.data.total);
                    } else {
                        console.error("API Error:", result);
                    }
                })
                .catch(error => console.error('Fetch Error:', error));
        }

        selectElement_ward.addEventListener("change", function () {
            console.log("Selected ward:", this.value);
            transport_fee(function (total) {
                fee = Math.round((total / 25000));
                console.log("Total fee:", fee);
                var shipping = document.getElementById("shipping");
                shipping.textContent = `$${fee}`;
                shippingCost = fee;
                totalEl.textContent = `$${(subtotal + shippingCost).toFixed(2)}`;
            });
        });

    </script>



</main>