<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<main layout:fragment="content">
    <div class="login-page">
        <div class="form-login">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Login</span></h2>
            </div>
            <div th:if="${(param.error != null) and (param.error[0] == 'invalid')}" style="color: red;">
                Invalid username or password.
            </div>

            <div th:if="${(param.error != null) and (param.error[0] == 'blocked')}" style="color: red;">
                Your account has been blocked.
            </div>

            <div th:if="${(param.error != null) and (param.error[0] == 'too-many-requests')}" style="color: red;">
                Too many failed attempts. Please try again after 1 minute.
            </div>
            <div th:if="${(param.error != null) and (param.error[0] == 'not-blank')}" style="color: red;">
                Please enter your username and password.
            </div>
            <p class="help-block text-danger"></p>

            <form action="/login" method="post">
                <div class="control-group">
                    <input type="text" id="email" name="email" placeholder="Your Email" class="form-control">
                 
                </div>
                <p class="help-block text-danger"></p>
                <div class="control-group">
                    <input type="password" id="password" name="password"  placeholder="Your Password"
                        class="form-control">
                 
                </div>
                <p class="help-block text-danger"></p>
                <button type="submit" class="btn btn-primary py-2 px-4">Login</button>

            </form>
            <p class="help-block text-danger"></p>

            <a th:href="@{/oauth2/authorization/google}">Login with Google</a><br>
            <p class="help-block text-danger"></p>

            <a>Forget Password</a>
        </div>
        <div class="image-login">
            <img src="img/login.jpg" alt="">
        </div>
    </div>
</main>

</html>